body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(30, 173, 102);
    font-family: Roboto;
}

h3 {
 margin-bottom: 0.4rem;
 margin-top: 0.4rem;;
}

div {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0.2rem;
}

.box {
    margin: 0.6rem;
    margin-left: 1rem;
    width: 14rem;
    height: 14rem;
    border: 6px solid black;
    border-radius: 2rem;
}

.bc1 {
    background-color: rgb(214, 27, 80);
}

.bc2 {
    background-color: rgb(27, 178, 205);
}

.bc3 {
    background-color: rgb(218, 158, 27);
}

.bc4 {
    background-color: rgb(33, 109, 239);
}

.flash {
    background-color: white;
}